%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-close:before {
	content: "\e900";
 }
 ._icon-check:before {
	content: "\e901";
 }
